@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body {
    background-image: url(/imagem/blue-bubbles-background-vector.jpg);
    height: 900px;

}

.content-center {
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: 900px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 13px 13px 27px 0px rgba(0,0,0,0.64);
-webkit-box-shadow: 13px 13px 27px 0px rgba(0,0,0,0.64);
-moz-box-shadow: 13px 13px 27px 0px rgba(0,0,0,0.64);
}
    

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-center input, .content-center button{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    
}
.content-center input{
    border-bottom-color: #dad3d3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.content-center input:focus{
    border-bottom-color: rgb(231, 64, 64);
    color: #000000;
}
#btn-submit{
    border-radius: 15px;
}
.content-center button:hover{
    background-color: rgb(231, 64, 64);
    cursor: pointer;
}
.content-center button:active{
    background-color: rgb(255, 0, 0);
}
header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
header a:visited{
    color: crimson;
}
header a:hover{
    text-decoration: underline;
}
header a:focus{
    color: #000000;
}
header a:active{
    color: black;
}
header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
    margin-bottom: 10px;
}
footer{
    margin-top: 1em;
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
}
#text-center{
    text-align: center;
    margin-top: 25%;
}
